In [72]:
import sleepy
import pandas as pd
import numpy as np
import math
import itertools
import plotly.express as px
from tqdm import tqdm
import time
import random
import multiprocessing as mp
from threading import Thread
from multiprocessing_functions import simulate_schedules, get_ranking

In [2]:
USERNAME = 'TheRealFergus'
YEAR = 2023

In [3]:
# Gets league and owner data
user_id = sleepy.get_user_data(USERNAME)["user_id"]
league_id = sleepy.get_league_ids(user_id, YEAR)[0]
league_raw = sleepy.get_leage(league_id)
owners_raw = sleepy.get_owners(league_id)
owners = owners_raw[["username", "owner_id", "roster_id"]]

In [4]:
# Stores the number of teams in the league
num_teams = owners.shape[0]

# Stores the number of the first week of the league playoffs
playoff_week1 = league_raw["settings"]["playoff_week_start"]

# Maps a unique matchup id corresponding to each combination of two roster ids
matchup_to_roster_id = {matchup[0] + 1: matchup[1] for matchup in 
                        enumerate(itertools.combinations(range(1,13), 2))}

roster_to_matchup_id = {val: key for (key, val) in matchup_to_roster_id.items()}

In [5]:
# Gets regular season matchup data
matchups = (sleepy.get_matchups(league_id, season=True)
            .query(f"starter == True & week < {playoff_week1}")
            .groupby(["week", "roster_id", "matchup_id"])
            [["team_points"]]
            .first()
            .reset_index())

# Merges matchups with owners to include usersernames
matchups = (
    matchups.merge(owners.reset_index(),
                    left_on="roster_id",
                      right_on = "roster_id")
            .assign(matchup_id = matchups["matchup_id"].astype(int))
            .drop(columns="index"))

matchups.groupby(["week", "matchup_id"])["roster_id"].count()

week  matchup_id
1     1             2
      2             2
      3             2
      4             2
      5             2
                   ..
14    2             2
      3             2
      4             2
      5             2
      6             2
Name: roster_id, Length: 84, dtype: int64

In [6]:
# Gets regular season matchup data
matchups = (sleepy.get_matchups(league_id, season=True)
            .query(f"starter == True & week < {playoff_week1}")
            .groupby(["week", "roster_id", "matchup_id"])
            [["team_points"]]
            .first()
            .reset_index())

# Merges matchups with owners to include usersernames
matchups = (
    matchups.merge(owners.reset_index(),
                    left_on="roster_id",
                      right_on = "roster_id")
            .assign(matchup_id = matchups["matchup_id"].astype(int))
            .drop(columns="index"))

# Reassigns the matchup id
matchups["matchup_id"] = (
    matchups
    .groupby(["week", "matchup_id"])
    ["roster_id"]
    .transform(lambda x: roster_to_matchup_id[tuple(x.unique())])
    )

# The first week's games
matchups.head(12)

,week,roster_id,matchup_id,team_points,username,owner_id
0,1,1,10,95.92,alecwilson,781258862778015744
1,1,2,15,102.31,namebrant,737201118836346880
2,1,3,27,87.10,therealfergus,871830995287085056
3,1,4,36,80.88,empireyikesback,340376049508429824
4,1,5,40,75.52,pacc,791907251894984704
5,1,6,15,104.94,tonygordzilla22,790423754491678720
6,1,7,40,116.85,mackjyers21,463115290251620352
7,1,8,60,105.44,burgertownthicnred,865421962913157120
8,1,9,27,138.10,thezirconisdragon,865438032692649984
9,1,10,36,87.78,black8yellownation,865844843182694400
10,1,11,10,190.51,herbietime,866177748505329664
11,1,12,60,104.80,shakylegs,869018101340098560

In [7]:
# Formats the actual season schedule
season_schedule = tuple(
    tuple(week) for week in matchups.groupby("week")["matchup_id"].agg(set)
)

# Gets the total season points for each owner
owners_points = matchups.groupby("username")[["team_points"]].sum()

In [8]:
# Gets all possible weekly schedules, each tuple contains six matchp id's 
# corresponding to a single game. There are 10395 possible weekly schedules
all_weeks = []
for week in tqdm(itertools.combinations(matchup_to_roster_id.values(), 6), 
                 total = math.comb(66, 6)):
    s = set()
    for match in week:
        s.update(match)
    if len(s) == 12:
        all_weeks.append(tuple(roster_to_matchup_id[match] for match in week))
all_weeks = tuple(all_weeks)

100%|██████████| 90858768/90858768 [00:45<00:00, 1996476.84it/s]

In [9]:
# Maps each week schedule in all possible weeks to a set of weeks. Given that the
# key week appears in a season schedule, none of the weeks in the value set can 
# also appear
similar_weeks = {}
for key_week in tqdm(all_weeks, total = len(all_weeks)):
    similar_weeks[key_week] = (
        set([week for week in all_weeks if len(set(week + key_week)) != 12])
        )

100%|██████████| 10395/10395 [00:24<00:00, 431.72it/s]

In [15]:
manager = mp.Manager()
total_records = manager.dict()
ranking_counts = manager.dict()
progress_queue = mp.Queue()

for username in owners["username"]:
    total_records[username] = manager.list(np.zeros(12, dtype=int))

if __name__ == "__main__":

    num_sims_per_process = 10000  # Number of simulations per process
    num_processes = 1000  # Number of processes (cores) to use
    total_sims = num_sims_per_process * num_processes

    processes = []

    for p in range(num_processes):

        while len(processes) >= mp.cpu_count():
            time.sleep(1)
            processes = [p for p in processes if p.is_alive()]

        process = mp.Process(
            target = simulate_schedules,
            args = (all_weeks, similar_weeks, owners, matchup_to_roster_id, matchups, owners_points, total_records, ranking_counts, num_sims_per_process)
        )
        process.start()
        processes.append(process)

    for process in processes:
        process.join()

tot_rec = {username: pd.Series(list(lst), index = range(1,13)) 
           for username, lst in dict(total_records).items()}

records_df = (pd.DataFrame(tot_rec)
              .transpose()
              .sort_values(by = list(range(1,13)), ascending = False))

playoffs_df = (pd.DataFrame(dict(ranking_counts), index = ["Count"])
               .transpose()
               .reset_index()
               .query("Count > 0")
               .rename(columns={'level_0': 1, 'level_1': 2, 'level_2': 3,
                                'level_3': 4, 'level_4': 5, 'level_5': 6,
                                'level_6': 7, 'level_7': 8, 'level_8': 9,
                                'level_9': 10, 'level_10': 11, 'level_11': 12})
               .sort_values(by = 'Count', ascending = False))

records_df.to_csv(f'{YEAR}_{total_sims}_simulated_records.csv',
                   index_label = 'username')

playoffs_df.to_csv(f'{YEAR}_{total_sims}_simulated_playoffs.csv',
                    index = False)

In [ ]:
playoffs_df

In [16]:
# Reads previously stored simulated records
records_df = pd.read_csv(f'{YEAR}_{total_sims}_simulated_records.csv', 
                         index_col="username")
playoffs_df = pd.read_csv(f'{YEAR}_{total_sims}_simulated_playoffs.csv', 
                          index_col = False)

records_df_prop = records_df / (total_sims / 100)
records_df_count = records_df

In [17]:
# Stores the true season ranks
season_ranks = get_ranking(season_schedule, owners, matchup_to_roster_id, matchups, owners_points)
pd.DataFrame(season_ranks)

                    rank
pacc                   1
thezirconisdragon      2
herbietime             3
alecwilson             4
empireyikesback        5
burgertownthicnred     6
therealfergus          7
mackjyers21            8
shakylegs              9
tonygordzilla22       10
black8yellownation    11
namebrant             12

In [300]:
records_df_count

,1,2,3,4,5,6,7,8,9,10,11,12
username,,,,,,,,,,,,
herbietime,5191110,2466258,1263125,638384,281700,108655,38014,10242,2192,300,20,0
thezirconisdragon,2074697,2171155,2116925,1910464,908055,432684,211870,104144,44943,18354,6032,677
pacc,1301049,2361512,2587268,2017290,952164,439508,200778,89029,34619,12850,3618,315
alecwilson,1209358,2309450,2423388,2001998,1123941,556264,243843,95928,28520,6519,771,20
empireyikesback,100340,300327,652351,1275076,2215778,2300439,1551716,906495,443471,187408,59043,7556
therealfergus,79027,231050,524234,1112273,2232044,2101218,1603096,1077066,611100,301181,112416,15295
mackjyers21,29770,97803,239929,529663,1024433,1574398,2006172,2136204,1266054,688986,334023,72565
burgertownthicnred,12441,50768,148201,374902,863380,1594773,2346878,2212003,1351781,705852,291124,47897
shakylegs,1832,8321,27895,79198,204288,428686,818694,1486333,2669906,2335301,1514670,424876
namebrant,340,2944,13802,46325,136744,302059,591635,1072327,1910769,2822535,2315996,784524
tonygordzilla22,36,403,2825,14000,54992,151888,361161,736419,1446341,2425927,3904713,901295
black8yellownation,0,9,57,427,2481,9428,26143,73810,190304,494787,1457574,7744980

In [18]:
# Highlights each user's actual ranking from the season in the simulated dataframe
def highlight_cells(row):
    col_to_highlight = season_ranks[row.name]
    return ['color: red' if int(col) == int(col_to_highlight) 
                            else '' for col in row.index]

highlighted_df = records_df_prop.astype(str).style.apply(highlight_cells,
                                                          axis = 1)
highlighted_df

In [14]:
def get_prob(username, rank, type = "equal"):
    """Gets the probability of a user ranking equal to, worse, or better than 
    they actually did. Probabilites are taken from the simulated rankings.

    Args:
        username (str): the username to get the probability ranking
        rank (int): the rank to determinge
        type (str, optional): Can be "equal", "worse", or "better". For each 
        option. Defaults to "equal".

    Returns:
        str: The function returns the probability of the given user ranking 
        equal/better/or worse than the passed rank. Probabilities are taken from
        the simulated records dataframe.
    """
    user_ix = records_df_prop.index.get_loc(username)
    if type == "equal":
        return records_df_prop.iloc[user_ix, rank-1]
    elif type == "worse":
        return records_df_prop.iloc[user_ix, rank:].sum()
    elif type == "better":
        return records_df_prop.iloc[user_ix, :rank-1].sum()
    elif type == "playoff":
        return records_df_prop.iloc[user_ix, :6].sum()

# Gets the probability dictionaries of worse/equal/better for each user
probs_worse = {username: get_prob(username, rank, type = "worse") for (username, rank) in season_ranks.items()}
probs_better = {username: get_prob(username, rank, type = "better") for (username, rank) in season_ranks.items()}
probs_equal = {username: get_prob(username, rank, type = "equal") for (username, rank) in season_ranks.items()}
probs_playoff = {username: get_prob(username, rank, type = "playoff") for (username, rank) in season_ranks.items()}

# Stores the probabilites of each user's ranking for the season
season_probs = (pd.DataFrame(season_ranks)
                .assign(Better = pd.Series(probs_better))
                .assign(Equal = pd.Series(probs_equal))
                .assign(Worse = pd.Series(probs_worse))
                .assign(Playoff = pd.Series(probs_playoff))
                .reset_index(names="username")
                .set_index("rank")
                .round(2))
season_probs

                username  Better  Equal  Worse  Playoff
rank
1                   pacc    0.00  13.01  86.99    96.59
2      thezirconisdragon   20.71  21.78  57.51    96.14
3             herbietime   76.61  12.61  10.78    99.52
4             alecwilson   59.47  20.05  20.48    96.26
5        empireyikesback   23.23  22.25  54.51    68.50
6     burgertownthicnred   14.49  15.96  69.55    30.45
7          therealfergus   62.76  16.09  21.15    62.76
8            mackjyers21   55.01  21.39  23.59    34.90
9              shakylegs   30.40  26.83  42.77     7.47
10       tonygordzilla22   27.64  24.27  48.09     2.24
11    black8yellownation    7.98  14.62  77.40     0.12
12             namebrant   92.17   7.83   0.00     5.04

In [20]:
# Plots the season probabilities as a stacked bar chart
season_probs_melt = pd.melt(season_probs, id_vars=['username', "Playoff"], var_name=' ', value_name='Chance %')
fig = px.bar(
        season_probs_melt, 
        x='username', 
        y='Chance %', 
        color = ' ', 
        title = f'Chance of Ranking: Worse Than / Equal To / Better Than Actual Ranking for {YEAR} Season',
        color_discrete_sequence = px.colors.qualitative.D3[:3][::-1],
        )

fig.update_layout(width=1200,
                  height=600,
                  xaxis_title = None,
                  title_x = 0.5,
                  font=dict(size=14),
                  margin=dict(t=70, b=75, l=100, r=50),
                  bargap=0.5,
                  legend = dict(title = None,
                                font = dict(size=20))
                 )

In [37]:
playoffs_df

,1,2,3,4,5,6,7,8,9,10,11,12,Count
0,herbietime,alecwilson,pacc,thezirconisdragon,therealfergus,empireyikesback,burgertownthicnred,mackjyers21,shakylegs,namebrant,tonygordzilla22,black8yellownation,15035
1,herbietime,thezirconisdragon,alecwilson,pacc,therealfergus,empireyikesback,burgertownthicnred,mackjyers21,shakylegs,namebrant,tonygordzilla22,black8yellownation,9599
2,thezirconisdragon,herbietime,alecwilson,pacc,therealfergus,empireyikesback,burgertownthicnred,mackjyers21,shakylegs,namebrant,tonygordzilla22,black8yellownation,9549
3,herbietime,pacc,thezirconisdragon,alecwilson,therealfergus,empireyikesback,burgertownthicnred,mackjyers21,shakylegs,namebrant,tonygordzilla22,black8yellownation,8782
4,herbietime,alecwilson,pacc,thezirconisdragon,empireyikesback,therealfergus,burgertownthicnred,mackjyers21,shakylegs,namebrant,tonygordzilla22,black8yellownation,7777
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1042661,herbietime,therealfergus,pacc,alecwilson,thezirconisdragon,mackjyers21,burgertownthicnred,tonygordzilla22,empireyikesback,namebrant,shakylegs,black8yellownation,1
1042662,herbietime,thezirconisdragon,therealfergus,empireyikesback,pacc,mackjyers21,burgertownthicnred,shakylegs,alecwilson,namebrant,tonygordzilla22,black8yellownation,1
1042663,pacc,herbietime,alecwilson,empireyikesback,thezirconisdragon,namebrant,therealfergus,shakylegs,mackjyers21,burgertownthicnred,tonygordzilla22,black8yellownation,1
1042664,thezirconisdragon,alecwilson,empireyikesback,herbietime,pacc,namebrant,shakylegs,therealfergus,burgertownthicnred,mackjyers21,black8yellownation,tonygordzilla22,1
1042665,herbietime,alecwilson,namebrant,pacc,therealfergus,thezirconisdragon,burgertownthicnred,mackjyers21,empireyikesback,shakylegs,black8yellownation,tonygordzilla22,1

In [42]:
playoffs_df_prob = pd.DataFrame(playoffs_df)

def better_equal(username, rank):
    return get_prob(username, rank, type = "better") + get_prob(username, rank, type = "equal")

for i in tqdm(range(1,13), total = 12):
    playoffs_df_prob[str(i)] = playoffs_df[str(i)].apply(lambda x: better_equal(x,i))

100%|██████████| 12/12 [05:58<00:00, 29.90s/it]

In [44]:
idx_unlikely = playoffs_df_prob.iloc[:,:6].sum(axis = 1).idxmin()

In [48]:
unlikely_playoff_seed = (pd.concat([playoffs_df.iloc[idx_unlikely,:12].rename("Username"),
                                    playoffs_df_prob.iloc[idx_unlikely,:12].rename("Prob >=")],
                                      axis = 1)
                            .rename(columns={f'{idx_unlikely}':'as'}))
unlikely_playoff_seed

              Username    Prob >=
1           alecwilson   12.09358
2      empireyikesback    4.00667
3        therealfergus    8.34311
4          mackjyers21    8.97165
5            shakylegs    3.21534
6            namebrant    5.02214
7           herbietime   99.87246
8                 pacc   99.48598
9    thezirconisdragon   99.74937
10  burgertownthicnred   96.60979
11     tonygordzilla22   90.98705
12  black8yellownation  100.00000

In [58]:
top = ['herbietime', 'pacc', 'thezirconisdragon']
query_str = ' and '.join([f'`{col}` not in @top' for col in [str(i) for i in range(1,7)]])
playoffs_df.query(query_str)

,1,2,3,4,5,6,7,8,9,10,11,12,Count
563319,alecwilson,burgertownthicnred,therealfergus,empireyikesback,mackjyers21,shakylegs,herbietime,pacc,thezirconisdragon,tonygordzilla22,namebrant,black8yellownation,1
585419,alecwilson,empireyikesback,therealfergus,mackjyers21,shakylegs,namebrant,herbietime,pacc,thezirconisdragon,burgertownthicnred,tonygordzilla22,black8yellownation,1
613080,alecwilson,mackjyers21,therealfergus,empireyikesback,burgertownthicnred,tonygordzilla22,herbietime,thezirconisdragon,pacc,namebrant,shakylegs,black8yellownation,1
864023,burgertownthicnred,mackjyers21,alecwilson,therealfergus,empireyikesback,tonygordzilla22,herbietime,pacc,thezirconisdragon,shakylegs,namebrant,black8yellownation,1
910671,empireyikesback,alecwilson,therealfergus,burgertownthicnred,mackjyers21,namebrant,herbietime,pacc,thezirconisdragon,shakylegs,black8yellownation,tonygordzilla22,1
926494,alecwilson,empireyikesback,therealfergus,burgertownthicnred,mackjyers21,shakylegs,herbietime,pacc,thezirconisdragon,namebrant,tonygordzilla22,black8yellownation,1

In [56]:
unlikely_playoff_seed2 = (pd.concat([playoffs_df.iloc[864023,:12].rename("Username"),
                                    playoffs_df_prob.iloc[864023,:12].rename("Prob >=")],
                                      axis = 1)
                            .rename(columns={f'{idx_unlikely}':'as'}))
unlikely_playoff_seed2

              Username    Prob >=
1   burgertownthicnred    0.12441
2          mackjyers21    1.27573
3           alecwilson   59.42196
4        therealfergus   19.46584
5      empireyikesback   45.43872
6      tonygordzilla22    2.24144
7           herbietime   99.87246
8                 pacc   99.48598
9    thezirconisdragon   99.74937
10           shakylegs   80.60454
11           namebrant   92.15476
12  black8yellownation  100.00000

In [70]:
bottom = ['black8yellownation', 'tonygordzilla22', 'namebrant']
query_str = ' and '.join([f'`{col}` not in @bottom' for col in [str(i) for i in range(7,13)]])
playoffs_df.query(query_str)

,1,2,3,4,5,6,7,8,9,10,11,12,Count
676758,herbietime,pacc,thezirconisdragon,namebrant,tonygordzilla22,black8yellownation,alecwilson,empireyikesback,burgertownthicnred,therealfergus,mackjyers21,shakylegs,1

In [ ]:
playoffs_df[playoffs_df[1] == 'tonygordzilla22']

In [244]:
# This cell estimates the total number possible season schedules.

def generate_schedule_nums():
    """This funciton is a modified verstion of the generate schedule function 
    used in the multiprocessing function file. It aims to estimate the total 
    number of possible schedules. 
    
    Generates a 14 week season schedule for an 12 team leage. Each team plays
    all other teams once in the first 11 weeks. The first 3 weeks are repeated
    for the last 3 weeks.

    Returns:
        list: A list of the number of schedules to choose from at each week
    each week.
    """
    weeks = set(all_weeks)
    schedule = []
    num_options = []

    # Recursively fills the weekly schedule at random
    def pick_week(weeks):
        if len(schedule) == 11:
            return
        else:
            tuple_weeks = tuple(weeks)
            num_options.append(len(tuple_weeks))
            choice = random.choice(tuple_weeks)
            schedule.append(choice)
            weeks -= similar_weeks[choice]
            pick_week(weeks)
    
    # The above method has about a 70% success rate to pick a valid yearly 
    # schedule. This while loop will continue until a valid schedule is picked.
    while len(schedule) != 11:
        try:
            pick_week(weeks)
        except IndexError:
            weeks = set(all_weeks)
            schedule = []
            num_options = []

    # Adds the first three weeks of the schedule to the end to finish the 14
    # week season
    schedule += schedule[:3]

    total = 1
    for i in num_options:
        total *= i

    return(total)

np.array([generate_schedule_nums() for i in range(1000)]).mean() * .7

1.011275136797421e+25

In [297]:
# Prints the season outcomes in markdown
outcome_2023 = owners_raw[["username",
                           "fpts",
                           "fpts_decimal", 
                           "fpts_against", 
                           "fpts_against_decimal", 
                           "wins", 
                           "losses"]]

def format_dec(x):
    out = str((x/100))[1:]
    if len(out) == 2:
        out = out + "0"
    return out

outcome_2023 = (
    outcome_2023
    .assign(points_for = outcome_2023["fpts"].astype(str) 
            + (outcome_2023["fpts_decimal"].apply(format_dec)))
    .assign(points_against = outcome_2023["fpts_against"].astype(str) 
            + (outcome_2023["fpts_against_decimal"].apply(format_dec)))
    .assign(record = outcome_2023["wins"].astype(str) + "-" 
            + outcome_2023["losses"].astype(str))
            )
outcome_2023 = pd.DataFrame(season_ranks).merge(
        outcome_2023,
        left_index=True, 
        right_on='username')


outcome_2023 = (outcome_2023
                .set_index("rank")
                .drop(columns=["fpts", "fpts_decimal", "fpts_against", 
                               "fpts_against_decimal", "wins", "losses"]))
print(outcome_2023.to_markdown())

|   rank | username           |   points_for |   points_against | record   |
|-------:|:-------------------|-------------:|-----------------:|:---------|
|      1 | pacc               |      2008.96 |          1765.22 | 9-5      |
|      2 | thezirconisdragon  |      2000.73 |          1895.99 | 9-5      |
|      3 | herbietime         |      2114.47 |          1990.59 | 8-6      |
|      4 | alecwilson         |      2107.2  |          1854.36 | 8-6      |
|      5 | empireyikesback    |      1798.42 |          1662.93 | 8-6      |
|      6 | burgertownthicnred |      1769.67 |          1778.89 | 8-6      |
|      7 | therealfergus      |      1814.81 |          2027.19 | 6-8      |
|      8 | mackjyers21        |      1730.29 |          1818.54 | 6-8      |
|      9 | shakylegs          |      1650.25 |          1838.57 | 6-8      |
|     10 | tonygordzilla22    |      1625.72 |          1735.48 | 6-8      |
|     11 | black8yellownation |      1495.6  |          1615.37 | 6-8      |
|     12 | namebrant          |      1645.83 |          1778.82 | 4-10     |

In [304]:
# prints the records count in markdown
print(records_df_count.astype(str).to_html())

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
      <th>10</th>
      <th>11</th>
      <th>12</th>
    </tr>
    <tr>
      <th>username</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>herbietime</th>
      <td>5191110</td>
      <td>2466258</td>
      <td>1263125</td>
      <td>638384</td>
      <td>281700</td>
      <td>108655</td>
      <td>38014</td>
      <td>10242</td>
      <td>2192</td>
      <td>300</td>
      <td>20</td>
      <td>0</td>
    </tr>
    <tr>
      <th>thezirconisdragon</th>
      <td>2074697</td>
      <td>2171155</td>
      <td>2116925</td>
      <td>1910464</td>
      <td>908055</td>
      <td>432684</td>
      <td>211870</td>
      <td>104144</td>
      <td>44943</td>
      <td>18354</td>
      <td>6032</td>
      <td>677</td>
    </tr>
    <tr>
      <th>pacc</th>
      <td>1301049</td>
      <td>2361512</td>
      <td>2587268</td>
      <td>2017290</td>
      <td>952164</td>
      <td>439508</td>
      <td>200778</td>
      <td>89029</td>
      <td>34619</td>
      <td>12850</td>
      <td>3618</td>
      <td>315</td>
    </tr>
    <tr>
      <th>alecwilson</th>
      <td>1209358</td>
      <td>2309450</td>
      <td>2423388</td>
      <td>2001998</td>
      <td>1123941</td>
      <td>556264</td>
      <td>243843</td>
      <td>95928</td>
      <td>28520</td>
      <td>6519</td>
      <td>771</td>
      <td>20</td>
    </tr>
    <tr>
      <th>empireyikesback</th>
      <td>100340</td>
      <td>300327</td>
      <td>652351</td>
      <td>1275076</td>
      <td>2215778</td>
      <td>2300439</td>
      <td>1551716</td>
      <td>906495</td>
      <td>443471</td>
      <td>187408</td>
      <td>59043</td>
      <td>7556</td>
    </tr>
    <tr>
      <th>therealfergus</th>
      <td>79027</td>
      <td>231050</td>
      <td>524234</td>
      <td>1112273</td>
      <td>2232044</td>
      <td>2101218</td>
      <td>1603096</td>
      <td>1077066</td>
      <td>611100</td>
      <td>301181</td>
      <td>112416</td>
      <td>15295</td>
    </tr>
    <tr>
      <th>mackjyers21</th>
      <td>29770</td>
      <td>97803</td>
      <td>239929</td>
      <td>529663</td>
      <td>1024433</td>
      <td>1574398</td>
      <td>2006172</td>
      <td>2136204</td>
      <td>1266054</td>
      <td>688986</td>
      <td>334023</td>
      <td>72565</td>
    </tr>
    <tr>
      <th>burgertownthicnred</th>
      <td>12441</td>
      <td>50768</td>
      <td>148201</td>
      <td>374902</td>
      <td>863380</td>
      <td>1594773</td>
      <td>2346878</td>
      <td>2212003</td>
      <td>1351781</td>
      <td>705852</td>
      <td>291124</td>
      <td>47897</td>
    </tr>
    <tr>
      <th>shakylegs</th>
      <td>1832</td>
      <td>8321</td>
      <td>27895</td>
      <td>79198</td>
      <td>204288</td>
      <td>428686</td>
      <td>818694</td>
      <td>1486333</td>
      <td>2669906</td>
      <td>2335301</td>
      <td>1514670</td>
      <td>424876</td>
    </tr>
    <tr>
      <th>namebrant</th>
      <td>340</td>
      <td>2944</td>
      <td>13802</td>
      <td>46325</td>
      <td>136744</td>
      <td>302059</td>
      <td>591635</td>
      <td>1072327</td>
      <td>1910769</td>
      <td>2822535</td>
      <td>2315996</td>
      <td>784524</td>
    </tr>
    <tr>
      <th>tonygordzilla22</th>
      <td>36</td>
      <td>403</td>
      <td>2825</td>
      <td>14000</td>
      <td>54992</td>
      <td>151888</td>
      <td>361161</td>
      <td>736419</td>
      <td>1446341</td>
      <td>2425927</td>
      <td>3904713</td>
      <td>901295</td>
    </tr>
    <tr>
      <th>black8yellownation</th>
      <td>0</td>
      <td>9</td>
      <td>57</td>
      <td>427</td>
      <td>2481</td>
      <td>9428</td>
      <td>26143</td>
      <td>73810</td>
      <td>190304</td>
      <td>494787</td>
      <td>1457574</td>
      <td>7744980</td>
    </tr>
  </tbody>
</table>